<div class="global-header">
  <div class="header-left">
    <span class="button-menu clearfix" (click)="showMenu()">
      <i class="czs-menu-l"></i>
    </span>
  </div>
  <div class="header-sidenav" [class.nav-show]="isShow">
    <ul class="list">
      <li class="list-item" [routerLink]="['/index']" (click)="toList()">
        <span class="list-text"><i class="czs-home-l"></i> 主页</span>
      </li>
      <li class="list-item" routerLinkActive="active" [routerLink]="['/list',menuList[i].link]" *ngFor="let item of menuList;let i = index;" (click)="toList()">
        <span class="list-text"><i class="{{item.icon}}"></i> {{item.name}}</span>
      </li>
      <li class="list-item" (click)="toAbout()" >
        <span class="list-text">关于我</span>
      </li>
    </ul>
    <div class="button-overlay" (click)="toList()"></div>
  </div>
  <div class="header-center">一个</div>
  <div class="header-right">
    <i class="czs-search-l"></i>
  </div>
</div>
