<div class="global-header">
  <div class="header-left">
    <span class="button-menu clearfix" (click)="showMenu()">
      <i class="czs-menu-l"></i>
    </span>
    <free-sidenav [visible]="isShow" [overlay]="false" direction="left">
      <ul class="list">
        <li class="list-item" routerLinkActive="active" [routerLink]="['/list',menuList[i].link]" *ngFor="let item of menuList;let i = index;" (click)="toList(i)">
          <span class="list-text"><i class="{{item.icon}}"></i> {{item.name}}</span>
        </li>
        <li class="list-item">
          <span class="list-text">关于我</span>
        </li>
      </ul>
      <div class="button-overlay" (click)="isShow = false;"></div>
    </free-sidenav>
  </div>
  <div class="header-center">一个</div>
  <div class="header-right">
    <i class="czs-search-l"></i>
  </div>
</div>
