@charset "utf-8";
.global-header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  height:3.4rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  //padding:0 .8rem;
  .header-center{
    font-size: 1.2rem;
  }
  .header-left{
    .button-menu{
      height: 3.4rem;
      line-height:3.4rem;
      display: block;
      >i{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        margin-left: .7em;
      }
    }
    free-sidenav{
      .list{
        margin: 0;
        padding:2rem 0 0;
        width: 100%;
        list-style:none;
        >.list-item{
          margin: 0;
          padding:0 .8rem;
          >span{
            border-bottom: 1px solid #eeeeee;
            box-shadow: 0 5px 5px rgba(0,0,0,.05);
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            height:4.2rem;
            line-height:4.2rem;
            font-size: 1.25rem;
            color: #333;
            >i{
              display: inline-block;
              margin-right:.5rem;
            }
          }
          &:hover,&:active,&:focus{
            background: #29a7e2;
            box-shadow: 0 0 12px #2ad;
            >span{
              color: white;
            }
          }
        }
        &:after{
          content: '- END - ';
          display: block;
          font-size: .85rem;
          color: #888;
          text-align: center;
          margin-top: 1.2rem;
        }
      }
      .button-overlay{
        position: absolute;
        right:-10rem;
        width: 10rem;
        top: 0;
        bottom: 0;
      }
    }
  }
  .header-right{
    >i{
      display: block;
      margin-right: .8rem;
    }
  }
}
