.global-list{
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 3.4rem;
  background-color: #F6F6F6;
  .content-list{
    width: 100%;
    free-loading{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: block;
      text-align: center;
    }
    .content{
      padding:.8rem 1.2rem .5rem;
      box-shadow: 0 5px 5px rgba(0,0,0,.03);
      margin-bottom: .6rem;
      background-color: white;
      .content-tag{
        color: rgba(0, 0, 0, 0.6);
        line-height: 1.85em;
        font-size: 0.875rem;
        text-align: center;
        margin:0;
      }
      .content-title{
        margin:1rem 0;
        .title-link{
          color: #000;
          font-weight: normal;
          font-size:1.5rem;
        }
        .text-author{
          font-size: 1rem;
          padding-left: .5rem;
          margin:.8rem 0 1rem;
        }
      }
      .text-content-short{
        margin:.5rem 0 0;
        line-height:1.5rem;
        font-size: .95rem;
        color: rgba(0, 0, 0, 0.6);
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
      }
      .cover-img{
        width: 100%;
        max-width: 100%;
      }
      .date{
        font-size: 0.75rem;
        line-height: 1.4rem;
        color: #808080;
        text-align: left;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .footer-bar{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000;
    .btn-backtop{
      background-color: white;
      display: inline-block;
      margin:0 1.5rem 2rem 0 ;
      width: 3.5rem;
      text-align: center;
      line-height: 3.5rem;
      font-weight: bold;
      font-size: 1.3rem;
      height:3.5rem;
      border-radius: 50%;
      box-shadow: 5px 5px 5px rgba(0,0,0,.15);
    }
  }
}
