@charset "utf-8";
@import "../music-details/music-details.component";
.global-content{
  padding-top: 3.4rem;
  padding-bottom: 1rem;
  .content-banner{
    img{
      width: 100%;
      max-width:100%;
    }
  }
  .content-body{
  }
  .end-tip{
    text-align: center;
    height: 3rem;
    line-height:3rem;
    font-size: 1rem;
    color: #888;
  }
}
