<div class="global-content">
  <div class="content-banner">
    <div class="banner-detail">
      <img class="img" [src]="musicDetail.picUrl">
    </div>
    <div class="text-music-info">
      <p>{{musicStory.title}}</p>
      <p>{{musicStory.album}}</p>
      <p>{{musicStory.story_author}}</p>
    </div>
  </div>
  <div class="content-body">
    <h3 class="content-title">{{musicDetail.title}}</h3>
    <p class="text-author">文／{{musicDetail.authorName}}    </p>
    <div class="text-content" [innerHTML]="musicDetail.content"></div>
    <div class="text-tip">
      <i class="text-editor" [innerHTML]="musicDetail.author_introduce"></i>
      <i class="text-editor">{{musicDetail.copyright}}</i>
    </div>
    <div class="content-author">
      <h4 class="author-title">作者</h4>
      <div class="author-content">
        <img [src]="musicDetail.authorImgurl" alt="">
        <div class="author">
          <p class="author-name">{{musicDetail.authorName}} </p>
          <p class="page-summary">{{musicDetail.authorDesc}} </p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-comment"></div>
  <div class="footer-bar">
        <span class="btn-backtop" (click)="backTop()">
          <i class="czs-arrow-up-l"></i>
        </span>
  </div>
</div>
