@charset "utf-8";
.global-content{
  padding-top:4rem;
  .content-body{
    padding:0 1rem;
    .content-title{
      font-size: 1.65rem;
      font-weight: bold;
      margin:1rem 0 ;
      &::after{
        content: '';
        display: block;
        width: 80px;
        margin-top: 1rem;
        height: 5px;
        line-height: 10px;
        background-color: black;
      }
    }
    .text-author{
      padding-left:.5rem;
      color: #555;
      font-size: .8rem;
      margin-bottom: 2.5rem;
    }
    .text-content{
      font-size: 1rem;
      >p{
       line-height: 1.5rem;
        margin-bottom: 1rem;
      }
      .one-img-container{
        display: none;
      }
    }
    .text-tip{
      margin-top: 2rem;
      .text-editor{
        display: block;
        font-size: .85rem;
        line-height: 1.8rem;
        height: 1.8rem;
        color: #888;
      }
    }

    .content-author{
      margin-top: 1rem;
      //margin-bottom: 2rem;
      .author-title{
        height: 2.5rem;
        line-height: 2.5rem;
        margin:0 0 .8rem 0;
        position: relative;
        &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 3px;
          width: 100px;
          background-color: black;
        }
      }
      .author-content{
        display: table;
        height: 4rem;
        line-height: 4rem;
        img{
          display: table-cell;
          width: 3rem;
          vertical-align: middle;
          height: 3rem;
          border-radius: 50%;
        }
        .author{
          display: table-cell;
          padding-left:.6rem;
          vertical-align: top;
          >p{
            margin:0;
            line-height: 1.5rem;
          }
          .author-name{
            height:1.5rem;
            font-size: .9rem;
            color: #333;
          }
          .page-summary{
            font-size: .8rem;
            color: #888;
          }
        }
      }
    }
  }
  .footer-bar{
    position: fixed;
    right: 1.5rem;
    bottom: 2rem;
    z-index: 1000;
    .btn-backtop{
      background-color: white;
      display: inline-block;
      width: 3.5rem;
      text-align: center;
      line-height: 3.5rem;
      font-weight: bold;
      font-size: 1.3rem;
      height:3.5rem;
      border-radius: 50%;
      box-shadow: 5px 5px 5px rgba(0,0,0,.15);
    }
  }
  .end-tip{
    text-align: center;
    height: 3rem;
    line-height:3rem;
    font-size: 1rem;
    color: #888;
  }
}
